.form-add-itens {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0, .7);
    
    .form {
        width: 500px;
        height: 500px;
        background-color: #eeeeee;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 6px rgba(0,0,0,0.6);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 15px;

        .btn-close {
            padding: 8px 13px;
            border-radius: 20px;
            background-color: #e00909;
            color: #fff;
            font-size: 20px;
            border: none;
            box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.6);
            cursor: pointer;
        }

        .div-input {
            display: flex;
            flex-direction: column;
            gap: 5px;

            .label {
                font-size: 16px;
                font-family: 'PoppinsBold', sans-serif;
            }
        }

        .btn-submit {
            padding: 5px 15px;
            background-color: #000;
            color: #fff;
            font-size: 18px;
            letter-spacing: 1px;
            border: 1px solid #000;
            border-radius: 5px;
            cursor: pointer;
        }
    }
}

@media (max-width: 700px) {
    .form-add-itens {

        .form {
            width: 90%;
            height: 60%;
        }
    }
}