.shopping-list {
    width: 100%;
    margin-bottom: 20px;
    background-color: #eeeeee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'PoppinsBold', sans-serif;
    box-shadow: 0px 0px 10px 6px rgba(0,0,0,0.6);

    .link {
        width: 100%;
        padding: 30px;

        .infos {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    .trash {
        margin-right: 20px;
        margin-top: -5px;
        color: #ff0000;
        cursor: pointer;
    }
}