.sideMenu {
    z-index: 10;
    min-width: 16vw;
    min-height: 100vh;
    color: #fff;
    box-shadow: 4px 0px 6px 0px rgba(0,0,0,0.75);

    .options {
        
        li {
            
            .btn {
                font-family: 'PoppinsBold', sans-serif;
                font-size: 22px;
                width: 100%;
                background-image: linear-gradient(to bottom, #350baa, #3209a3, #2f089c, #2d0695, #2a058e, #2a058e, #2a058e, #2a058e, #2d0695, #2f089c, #3209a3, #350baa);
                color: #fff;
                border: 2px solid;
                padding: 20px 10px;
                cursor: pointer;
            }
        }
    }
}

@media (max-width: 700px) {
    .sideMenu {
        width: 100vw;
        min-height: 15vh;
    }
}