.container-list {
    background-color: #eeeeee;
    margin: 10px 0;
    border-radius: 10px;
    padding: 10px;
    width: 98%;

    .item {
        display: flex;
        justify-content: space-between;

        .value {
            min-width: 15%;
            display: flex;
            justify-content: space-around;
            align-items: center;

            .input {
                height: 100%;
                width: 20%;
                display: flex;
                align-items: center;
                gap: 10px;

                input {
                    min-height: 100%;
                    width: 120%;
                    text-align: center;
                }
            }

            .trash {
                color: #ff0000;
                cursor: pointer;
            }
        }
    }
}
